#targetbay-webservice-config-form .form-item label {
  position: relative;
  display: inline-block;
  width: 350px;
  font-size: 16px;
  font-weight: normal;
}
#targetbay-webservice-config-form .form-item input,
select,
textarea {
  width: 350px;
  height: 25px;
  border-radius: 5px;
  margin-left: 2px;
  position: relative;
}
select#edit-page-types {
  height: auto !important;
}
